  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid d-flex justify-content-between">

      <a class="navbar-brand text-light" href="/">Coaching Tech</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/museos/create">posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">mis posteos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Edit profile</a></li>
              <li><a class="dropdown-item" href="mailto:example@example.com">reportar bugs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      
      </div>
    </div>

  </nav>